{% import "macros/sidebar_nav.html" as sidebar_nav %}
<div class="sidebar__content">
  <a href="/" class="__title"><h2>{{ config.extra.page_title }}</h2></a>
  <!-- <p>
    {{ config.description }}
  </p> -->
  {% block nav_side %}
      {% include 'base/nav_side.html' %}
  {% endblock %}
  <div class="sidebar__content__links">
    <a href="https://discord.gg/4ZKGd7Un5t"><img class="sidebar__img discord_logo" src="/discord-black-logo.svg" alt="Say hello on Discord!"></a>
    <a href="https://www.patreon.com/bePatron?u=7602281"><img class="sidebar__img patreon_logo" src="/patreon-black-logo.png" alt="Support me on Patreon!"></a>
    <form class="paypal_post_form" action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="hosted_button_id" value="4V2DEPS7K6APC" />
      <input type="image" class="sidebar__img paypal_logo" src="/paypal-black-logo.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    </form>
  </div>
</div>
